<!DOCTYPE html>
<html>
<head>
    <title> Wikipedia RSS Feeds </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style type="text/css">
    #four-0-four {
        height: 300px;
    }
    #search {
        position: relative;
        left: 50%;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white" href="{{url_for('index')}}">Wiki(pedi&amp;dat)a RSS Feeds&nbsp;&nbsp;>&nbsp;&nbsp; Total of {{count}} Wiki(pedi&amp;dat)a RSS feed(s)</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0" id=search>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav><br />
    <div class="container">
        <div class="card text-center" id="four-0-four">
            <div class="card-header">
                Ops, the page you are looking for is not found
            </div><br /><br />
            <div class="card-block">
                <h4 class="card-title">404</h4>
                <a href="{{url_for('index')}}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT DEPENENCIES -->
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>